# platform
*.DS_Store

# dependencies
node_modules

# build
.nuxt
dist
OneSignalSDK*
sw.*
static/sw.js
.env.local
.env.ios

# test
coverage/

# yarn
yarn-error.log

# temp files
test/e2e/screenshots

# config
docker-compose.yml


# ios
ios/App/App/public
ios/App/Pods
ios/DerivedData
